<div class="container">
    <div class="row justify-content-center">
        <div class="col-11 col-md-10">
            <h3 class="text-uppercase slide-up mb-4">Referências</h3>
            <ul class="bullets-seta mb-0">
                <li class="slide-right d300">ADOBE STOCK. 2025. Disponível em: <a href="https://stock.adobe.com/" class="link-externo" target="_blank">https://stock.adobe.com/</a>. Acesso em: 09 abr. 2025.</li>
                <li class="slide-right d400">BACH, Johann Sebastian. Manuscrito da 4ª fuga em dó sustenido menor. <em>In</em>: BACH, Johann Sebastian. <strong>O Cravo Bem Temperado</strong>. Berlim: [s.n.], 1772. Imagem digitalizada, Wikimedia Commons/Berlin State Library – Bach
                    digital archive, 2021. Disponível em: <a href="https://en.wikipedia.org/wiki/The_Well-Tempered_Clavier#/media/File:Bach-wtc1-fugue4-ms.jpg" class="link-externo" target="_blank">https://en.wikipedia.org/wiki/The_Well-Tempered_Clavier#/media/File:Bach-wtc1-fugue4-ms.jpg</a>.
                    Acesso em: 09 abr. 2025.​</li>
                <li class="slide-right d500">EGG, André. <strong>Schoenberg do início da carreira ao dodecafonismo</strong>. 2020. Disponível em: <a href="https://andreegg.org/2020/04/14/schoenberg-do-inicio-da-carreira-ao-dodecafonismo/" class="link-externo" target="_blank">https://andreegg.org/2020/04/14/schoenberg-do-inicio-da-carreira-ao-dodecafonismo/</a>.
                    Acesso em: 09 abr. 2025.</li>
                <li class="slide-right d600">GAFFURIO, Franchino. <strong>Theorica musicae</strong>. Milão: Philippium Mantegatium, 1492. Reprodução em microfilme. Acervo da Biblioteca Nacional da França (BnF). Disponível em: <a href="http://catalogue.bnf.fr/ark:/12148/cb37257774w"
                        class="link-externo" target="_blank">http://catalogue.bnf.fr/ark:/12148/cb37257774w</a>. Acesso em: 09 abr. 2025.​</li>
                <li class="slide-right d700">HYACINTH. Escala cromática de temperamento igual de 12 tons em dó, uma oitava inteira ascendente, notada apenas com sustenidos. Wikimedia Commons/Quatrostein, 2008. Disponível em: <a href="https://pt.wikipedia.org/wiki/Ficheiro:Chromatische_toonladder.png#/media/Ficheiro:Chromatische_toonladder.png"
                        class="link-externo" target="_blank">https://pt.wikipedia.org/wiki/Ficheiro:Chromatische_toonladder.png#/media/Ficheiro:Chromatische_toonladder.png</a>. Acesso em: 09 abr. 2025.​</li>
                <li class="slide-right d800">ONLINE LIBRARY OF LIBERTY [OLL]. <strong>Boethius</strong>. Indiana, Estados Unidos, s.d. Disponível em: <a href="https://oll.libertyfund.org/people/boethius" class="link-externo" target="_blank">https://oll.libertyfund.org/people/boethius</a>.
                    Acesso em: 09 abr. 2025.​</li>
                <li class="slide-left">SHUTTERSTOCK. 2025. <strong>Imagem gerada por inteligência artificial</strong>. <a href="https://www.shutterstock.com" class="link-externo" target="_blank">https://www.shutterstock.com</a>. Acesso em: 13 mai. 2025.</li>
                <li class="slide-right d900">STIELER, Joseph Karl. <strong>Retrato de Beethoven compondo a “Missa Solemnis”</strong>. 1820. Beethoven House/Wikimedia Commons, 2019. Disponível em: <a href="https://commons.wikimedia.org/wiki/File:Beethoven.jpg" class="link-externo"
                        target="_blank">https://commons.wikimedia.org/wiki/File:Beethoven.jpg</a>. Acesso em: 09 abr. 2025.​</li>
                <li class="slide-right 1000">ZEICHNER. Foto do busto de Pitágoras no Museu Capitolino, Itália. Wikimedia Commons, 2007. Disponível em: <a href="https://commons.wikimedia.org/wiki/File:Kapitolinischer_Pythagoras_adjusted.jpg" class="link-externo" target="_blank">https://commons.wikimedia.org/wiki/File:Kapitolinischer_Pythagoras_adjusted.jpg</a>.
                    Acesso em: 09 abr. 2025.</li>
            </ul>
        </div>
    </div>
</div>