<div class="container" data-locucao="../src/assets/audio/sec04.mp3">
    <div class="row justify-content-center bg-orange">
        <div class="col-11 col-md-10 py-4 slide-up">
            <h3>Fique ligado(a)!</h3>
            <p>Não se esqueça: Audiovisual não é apenas produto, mas também uma ferramenta de cultura, educação, transformação social e um importante vetor da economia.</p>
        </div>
    </div>

    <div class="row justify-content-center bg-orange2">
        <div class="col-11 col-md-10 py-5">
            <img src="../src/assets/images/t06-img1.png" alt="" class="slide-up">
            <p class="slide-up">Fortalecer o audiovisual é fortalecer as vozes e os olhares que constroem o Brasil. O futuro do audiovisual brasileiro se escreve com políticas públicas, criatividade e diversidade. Que o conhecimento adquirido aqui inspire novas políticas, novos olhares e novas narrativas para um setor cada vez mais plural, sustentável e transformador.</p>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-11 col-md-10 py-5">
            <p class="slide-up">Continue sua trajetória de formação acompanhando outros cursos disponíveis na <b>Escola Fundação Itaú</b> e siga ampliando seus conhecimentos e possibilidades de atuação no campo da cultura.</p>
            <img src="../src/assets/images/t06-img2.jpg" alt="" class="slide-up mt-2">
        </div>
    </div>
</div>
