<div class="container" data-locucao="../src/assets/audio/sec03.mp3">
    <div class="row justify-content-center">
        <div class="col-11 col-md-10 zoom-in py-5">
            <h2>Audiovisual no Brasil: Governança e Ecossistema Encerramento geral</h2>
            <p>Com o fechamento deste módulo, concluímos também o curso Audiovisual no Brasil: Governança e Ecossistema.</p>
            <p>Navegue pelos slides e veja um panorama do que vimos nos dois módulos do curso:</p>
            <div>
                <div id="my-keen-slider" class="keen-slider">
                    <div class="keen-slider__slide number-slide1">
                        <div class="cardView">
                            <img src="../src/assets/images/t04-img1.jpg" alt="">
                            <h3>Módulo 1</h3>
                            <p>No <b>Módulo 1</b>, compreendemos os fundamentos das políticas culturais e audiovisuais, seus marcos regulatórios, mecanismos de financiamento e o papel estratégico da gestão pública.</p>
                        </div>
                    </div>
                    <div class="keen-slider__slide number-slide2">
                        <div class="cardView">
                            <img src="../src/assets/images/t04-img2.jpg" alt="">
                            <h3>Módulo 2</h3>
                            <p>No <b>Módulo 2</b>, mergulhamos na história, na formação, no ciclo produtivo, nos desafios de distribuição e exibição, além da preservação e das transformações contemporâneas.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="flexBox">
                    <img src="../src/assets/images/t04-img3.jpg" alt="">
                    <div class="boxText">
                        <p>Agora você possui uma base sólida para compreender a complexidade do setor audiovisual brasileiro, seus desafios e potencialidades.</p>
                        <p>Além de informações para atuar de forma mais crítica e estratégica, seja como gestor público, profissional do setor ou interessado em cultura.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>