<div class="container" data-locucao="./src/assets/audio/sec02.mp3">
    <div class="row justify-content-center">
        <div class="col-11 col-md-10">
            <h3 class="slide-up">Recapitulando</h3>
            <p class="slide-up">Vamos recapitular brevemente tudo o que vimos ao longo das aulas?</p>
            <p class="slide-up">Clique nos títulos abaixo para abrir as informações:</p>
            <div class="accordion-container" id="myAccordion">
                    
                <div class="accordion-item">
                    <button class="accordion-button" data-accordion-button>
                        <p>Aula 1</p>
                        <div class="indicator">
                            <p>+</p>
                        </div>
                    </button>
                    <div class="accordion-content">
                        <div class="boxView">
                            <img src="./src/assets/images/t02-img1.png" alt="">
                            <div class="boxText">
                                <h4>Aula 1 - Percursos históricos da indústria audiovisual brasileira</h4>
                                <p>Revisitamos os marcos e transformações que moldaram a trajetória do cinema e do audiovisual no país.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <button class="accordion-button" data-accordion-button>
                        <p>Aula 2</p>
                        <div class="indicator">
                            <p>+</p>
                        </div>
                    </button>
                    <div class="accordion-content">
                        <div class="boxView">
                            <img src="./src/assets/images/t02-img2.png" alt="">
                            <div class="boxText">
                                <h4>Aula 2 – Formação audiovisual</h4>
                                <p>Exploramos os diferentes níveis e modalidades de formação que qualificam profissionais e sustentam o setor.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <button class="accordion-button" data-accordion-button>
                        <p>Aula 3</p>
                        <div class="indicator">
                            <p>+</p>
                        </div>
                    </button>
                    <div class="accordion-content">
                        <div class="boxView">
                            <img src="./src/assets/images/t02-img3.png" alt="">
                            <div class="boxText">
                                <h4>Aula 3 – Do desenvolvimento à pós-produção</h4>
                                <p>Entendemos o ciclo completo de criação de uma obra, desde a concepção da ideia até sua finalização técnica.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <button class="accordion-button" data-accordion-button>
                        <p>Aula 4</p>
                        <div class="indicator">
                            <p>+</p>
                        </div>
                    </button>
                    <div class="accordion-content">
                        <div class="boxView">
                            <img src="./src/assets/images/t02-img4.png" alt="">
                            <div class="boxText">
                                <h4>Aula 4 - Distribuição, difusão e desafios da circulação</h4>
                                <p>Analisamos as barreiras históricas e contemporâneas para fazer com que os conteúdos cheguem ao público.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <button class="accordion-button" data-accordion-button>
                        <p>Aula 5</p>
                        <div class="indicator">
                            <p>+</p>
                        </div>
                    </button>
                    <div class="accordion-content">
                        <div class="boxView">
                            <img src="./src/assets/images/t02-img5.png" alt="">
                            <div class="boxText">
                                <h4>Aula 5 – Exibição, janelas e difusão não-comercial</h4>
                                <p>Vimos como a diversidade de telas, plataformas e espaços alternativos amplia as formas de acesso.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <button class="accordion-button" data-accordion-button>
                        <p>Aula 6</p>
                        <div class="indicator">
                            <p>+</p>
                        </div>
                    </button>
                    <div class="accordion-content">
                        <div class="boxView">
                            <img src="./src/assets/images/t02-img6.png" alt="">
                            <div class="boxText">
                                <h4>Aula 6 – Preservação do patrimônio audiovisual</h4>
                                <p>Refletimos sobre a importância de preservar o patrimônio audiovisual como compromisso com a memória e a diversidade cultural do Brasil.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <button class="accordion-button" data-accordion-button>
                        <p>Aula 7</p>
                        <div class="indicator">
                            <p>+</p>
                        </div>
                    </button>
                    <div class="accordion-content">
                        <div class="boxView">
                            <img src="./src/assets/images/t02-img6.png" alt="">
                            <div class="boxText">
                                <h4>Aula 7 – Reconfiguração contemporânea do audiovisual</h4>
                                <p>Discutimos os impactos da digitalização, da internet e das novas tecnologias sobre o consumo e a produção.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <p class="textOrange">
                Com este módulo, você ampliou sua visão sobre o audiovisual como campo dinâmico e estratégico, capaz de articular memória, inovação e cidadania.
            </p>
        </div>
    </div>
</div>