<div class="container" data-locucao="../src/assets/audio/t01.mp3">
    <div class="row justify-content-center">
        <div class="col-11 col-md-10 py-5">
            <div class="limited">
                <div class="boxFlex">
                    <div class="left slide-right">
                        <h3>O que ficou dessa jornada</h3>
                        <p>Chegamos ao fim do <b>Módulo 2 – História, Formação e Cadeia Produtiva do Audiovisual.</b></p>
                        <p>Ao longo das sete aulas, percorremos os principais temas que ajudam a compreender como se organiza e se transforma o audiovisual brasileiro.</p>
                    </div>
                    <div class="right slide-left">
                        <img src="../src/assets/images/t01-img1.jpg" alt="" class="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>