body.contraste .tela{
    filter:grayscale(1);
}

body.contraste #wrapper,
body.contraste #content,
body.contraste header h1,
body.contraste header h2,
body.contraste header .lista-aula li.ativo button {
    background: #000 !important
}

body.contraste .seta-topo #botao-topo,
body.contraste .box-ampliando,
body.contraste .box-naPratica,
body.contraste .box-dicas,
body.contraste .box-saiba-mais,
body.contraste .box-video,
body.contraste .box-legenda,
body.contraste .tela-ouvindo,
body.contraste .tela-estrela,
body.contraste .tela-creditos,
body.contraste #sumario .container .sumario-content li.ativo a,
body.contraste #tools-content .container .sumario-content li.ativo a,
body.contraste #progresso-aula .container .sumario-content li.ativo a,
body.contraste #sumario .container .sumario-content li.ativo .atividade-feedback .botao-ok,
.atividade-feedback body.contraste #sumario .container .sumario-content li.ativo .botao-ok,
body.contraste #tools-content .container .sumario-content li.ativo .atividade-feedback .botao-ok,
.atividade-feedback body.contraste #tools-content .container .sumario-content li.ativo .botao-ok,
body.contraste #progresso-aula .container .sumario-content li.ativo .atividade-feedback .botao-ok,
.atividade-feedback body.contraste #progresso-aula .container .sumario-content li.ativo .botao-ok,
body.contraste #sumario .container .sumario-content,
body.contraste #tools-content .container .sumario-content,
body.contraste #progresso-aula .container .sumario-content,
body.contraste .texto-capa, .menuBaseContainerInfo {
    background: #131313 !important
}

body.contraste .pop.popup-autor .popup-content,
body.contraste .pop.popup-texto .popup-content,
body.contraste .slick-prev:hover,
body.contraste .slick-prev:focus,
body.contraste .slick-next:hover,
body.contraste .slick-next:focus,
body.contraste .box-imagem.verde,
body.contraste .box-imagem,
body.contraste #progresso-aula .pct-progresso-aula,
body.contraste #progresso-aula .txt-intro-progresso,
body.contraste #wrapper {
    background: #333 !important
}

body.contraste ul.bullets li::before,
body.contraste #tools-content .bt-tools-content i {
    background: #fff !important
}

body.contraste ul.bullets li,
body.contraste .tela ul li,
body.contraste .tela ol li::before,
body.contraste .popup-content ol li::before,
body.contraste .tela-especial-content ol li::before,
body.contraste .tela ol li,
body.contraste .popup-content ol li,
body.contraste .tela-especial-content ol li,
body.contraste h4,
body.contraste .box-legenda p,
body.contraste #progresso-aula .pct-progresso-aula,
body.contraste #content,
body.contraste header h1,
body.contraste header h2,
body.contraste header .lista-aula li.titulo-lista,
body.contraste h3,
body.contraste p,
body.contraste .sanfona .item-sanfona>.cont-texto .caixa-item,
body.contraste .atividade .alternativas label,
body.contraste .titulo-redondo,
body.contraste .slick-prev:before,
body.contraste .slick-next:before,
body.contraste table caption,
body.contraste .card p,
body.contraste .tela-isso-ai ul li,
body.contraste .nome-autor h4 {
    color: #fff !important
}

body.contraste .sanfona .item-sanfona>.cont-texto .caixa-item p {
    color: #000 !important
}

body.contraste #content::after {
    filter: brightness(0) invert(1)
}

body.contraste header {
    background-color: #999
}

body.contraste header>.container {
    background-color: #999
}

body.contraste header h1,
body.contraste header h2 {
    background-color: #999 !important;
    color: #000 !important
}

body.contraste header .lista-aula {
    background: #1a1a1a
}

body.contraste .menuBaseContainerInfo .infoMenuDestaque::before {
    position: relative;
    content: '';
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='a' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 23.94 45.03'%3E%3Cg id='b'%3E%3Cpolygon points='7.4 1.03 7.55 9.1 16.06 8.95 16.84 2.87 7.69 0 7.4 1.03' style='fill:%23fff;'/%3E%3Cpath d='M23.49,43.85v-13.91c0-.19-.08-.38-.21-.51-.14-.14-.32-.21-.51-.21H1.17c-.4,0-.72.32-.72.72v13.91M1.89,43.85v-13.18h20.15v13.18' style='fill:%23fff;'/%3E%3Cpath d='M23.49,43.85v-13.91c0-.19-.08-.38-.21-.51-.14-.14-.32-.21-.51-.21H1.17c-.4,0-.72.32-.72.72v13.91M1.89,43.85v-13.18h20.15v13.18' style='fill:none; stroke:%23fff; stroke-miterlimit:10; stroke-width:.88px;'/%3E%3Cpath d='M23.28,37.61c-.13-.14-.31-.23-.51-.23H1.17c-.4,0-.72.34-.72.77s.32.77.72.77h21.6c.4,0,.72-.34.72-.77,0-.21-.08-.41-.21-.54' style='fill:%23fff;'/%3E%3Cpath d='M23.28,37.61c-.13-.14-.31-.23-.51-.23H1.17c-.4,0-.72.34-.72.77s.32.77.72.77h21.6c.4,0,.72-.34.72-.77,0-.21-.08-.41-.21-.54Z' style='fill:none; stroke:%23fff; stroke-miterlimit:10; stroke-width:.88px;'/%3E%3Cpath d='M16.86,8.6c-.13-.13-.31-.21-.51-.21H7.58c-.4,0-.72.33-.72.73,0,6.94-1.77,10.71-4.21,15.93-.68,1.46-1.39,2.97-2.15,4.71-.16.37.01.79.38.95.37.16.79-.01.95-.38.75-1.73,1.45-3.23,2.13-4.67,2.44-5.21,4.23-9.02,4.34-15.82h7.33c.12,6.8,1.9,10.61,4.34,15.82.68,1.45,1.38,2.95,2.13,4.68.16.37.58.54.95.38.37-.16.54-.58.38-.95-.75-1.74-1.46-3.25-2.14-4.71-2.45-5.22-4.21-8.99-4.21-15.93,0-.2-.08-.38-.21-.51' style='fill:%23fff;'/%3E%3Cpath d='M16.86,8.6c-.13-.13-.31-.21-.51-.21H7.58c-.4,0-.72.33-.72.73,0,6.94-1.77,10.71-4.21,15.93-.68,1.46-1.39,2.97-2.15,4.71-.16.37.01.79.38.95.37.16.79-.01.95-.38.75-1.73,1.45-3.23,2.13-4.67,2.44-5.21,4.23-9.02,4.34-15.82h7.33c.12,6.8,1.9,10.61,4.34,15.82.68,1.45,1.38,2.95,2.13,4.68.16.37.58.54.95.38.37-.16.54-.58.38-.95-.75-1.74-1.46-3.25-2.14-4.71-2.45-5.22-4.21-8.99-4.21-15.93,0-.2-.08-.38-.21-.51Z' style='fill:none; stroke:%23fff; stroke-miterlimit:10; stroke-width:.88px;'/%3E%3Crect x='.45' y='42.89' width='22.98' height='1.7' style='fill:%23fff;'/%3E%3Crect x='.45' y='42.89' width='22.98' height='1.7' style='fill:none; stroke:%23fff; stroke-miterlimit:10; stroke-width:.88px;'/%3E%3C/g%3E%3C/svg%3E")
}

body.contraste .menuBaseContainerInfo .infoMenuDestaque img {
    display: none;
}

body.contraste .menuBaseContainerInfo .infoMenu h4 span {
    /* font-weight: 900; */
    color: #fff !important;
}

body.contraste .ko-progress-circle {
    background-color: #afafaf;
}

body.contraste .ko-progress-circle__fill {
    background-color: #333232 !important;
}

body.contraste #tools-content .tools-content {
    border-color: #131313 !important;
}

body.contraste #new-header #marcaTexto {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='a' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 23.94 45.03'%3E%3Cg id='b'%3E%3Cpolygon points='7.4 1.03 7.55 9.1 16.06 8.95 16.84 2.87 7.69 0 7.4 1.03' style='fill:%23fff;'/%3E%3Cpath d='M23.49,43.85v-13.91c0-.19-.08-.38-.21-.51-.14-.14-.32-.21-.51-.21H1.17c-.4,0-.72.32-.72.72v13.91M1.89,43.85v-13.18h20.15v13.18' style='fill:%23fff;'/%3E%3Cpath d='M23.49,43.85v-13.91c0-.19-.08-.38-.21-.51-.14-.14-.32-.21-.51-.21H1.17c-.4,0-.72.32-.72.72v13.91M1.89,43.85v-13.18h20.15v13.18' style='fill:none; stroke:%23fff; stroke-miterlimit:10; stroke-width:.88px;'/%3E%3Cpath d='M23.28,37.61c-.13-.14-.31-.23-.51-.23H1.17c-.4,0-.72.34-.72.77s.32.77.72.77h21.6c.4,0,.72-.34.72-.77,0-.21-.08-.41-.21-.54' style='fill:%23fff;'/%3E%3Cpath d='M23.28,37.61c-.13-.14-.31-.23-.51-.23H1.17c-.4,0-.72.34-.72.77s.32.77.72.77h21.6c.4,0,.72-.34.72-.77,0-.21-.08-.41-.21-.54Z' style='fill:none; stroke:%23fff; stroke-miterlimit:10; stroke-width:.88px;'/%3E%3Cpath d='M16.86,8.6c-.13-.13-.31-.21-.51-.21H7.58c-.4,0-.72.33-.72.73,0,6.94-1.77,10.71-4.21,15.93-.68,1.46-1.39,2.97-2.15,4.71-.16.37.01.79.38.95.37.16.79-.01.95-.38.75-1.73,1.45-3.23,2.13-4.67,2.44-5.21,4.23-9.02,4.34-15.82h7.33c.12,6.8,1.9,10.61,4.34,15.82.68,1.45,1.38,2.95,2.13,4.68.16.37.58.54.95.38.37-.16.54-.58.38-.95-.75-1.74-1.46-3.25-2.14-4.71-2.45-5.22-4.21-8.99-4.21-15.93,0-.2-.08-.38-.21-.51' style='fill:%23fff;'/%3E%3Cpath d='M16.86,8.6c-.13-.13-.31-.21-.51-.21H7.58c-.4,0-.72.33-.72.73,0,6.94-1.77,10.71-4.21,15.93-.68,1.46-1.39,2.97-2.15,4.71-.16.37.01.79.38.95.37.16.79-.01.95-.38.75-1.73,1.45-3.23,2.13-4.67,2.44-5.21,4.23-9.02,4.34-15.82h7.33c.12,6.8,1.9,10.61,4.34,15.82.68,1.45,1.38,2.95,2.13,4.68.16.37.58.54.95.38.37-.16.54-.58.38-.95-.75-1.74-1.46-3.25-2.14-4.71-2.45-5.22-4.21-8.99-4.21-15.93,0-.2-.08-.38-.21-.51Z' style='fill:none; stroke:%23fff; stroke-miterlimit:10; stroke-width:.88px;'/%3E%3Crect x='.45' y='42.89' width='22.98' height='1.7' style='fill:%23fff;'/%3E%3Crect x='.45' y='42.89' width='22.98' height='1.7' style='fill:none; stroke:%23fff; stroke-miterlimit:10; stroke-width:.88px;'/%3E%3C/g%3E%3C/svg%3E")
}

body.contraste .box-imagem img,
body.contraste .imagem-video,
body.contraste .imagem-capa {
    filter: grayscale(1)
}

body.contraste .img-conexao img,
body.contraste .icone-img img {
    filter: brightness(0) invert(1)
}

body.contraste #new-header .bt-sumario {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='a' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 69.14 49.02'%3E%3Cg id='b'%3E%3Cline y1='3' x2='69.14' y2='3' style='fill:none; stroke:%23ffffff; stroke-width:6px;'/%3E%3Cline y1='46.02' x2='69.14' y2='46.02' style='fill:none; stroke:%23ffffff; stroke-width:6px;'/%3E%3Cline y1='24.51' x2='69.14' y2='24.51' style='fill:none; stroke:%23ffffff; stroke-width:6px;'/%3E%3C/g%3E%3C/svg%3E")
}

body.contraste #tools-content .bt-tools-content i img {
    filter: grayscale(1) brightness(0)
}

body.contraste #sumario .container::before,
body.contraste #tools-content .container::before,
body.contraste #progresso-aula .container::before {
    background: #fff;
    height: 2px
}

body.contraste #sumario .container .sumario-content,
body.contraste #tools-content .container .sumario-content,
body.contraste #progresso-aula .container .sumario-content {
    border-top: 2px solid #fff
}

body.contraste #sumario .container .sumario-content li a,
body.contraste #tools-content .container .sumario-content li a,
body.contraste #progresso-aula .container .sumario-content li a,
body.contraste #sumario .container .sumario-content li .atividade-feedback .botao-ok,
.atividade-feedback body.contraste #sumario .container .sumario-content li .botao-ok,
body.contraste #tools-content .container .sumario-content li .atividade-feedback .botao-ok,
.atividade-feedback body.contraste #tools-content .container .sumario-content li .botao-ok,
body.contraste #progresso-aula .container .sumario-content li .atividade-feedback .botao-ok,
.atividade-feedback body.contraste #progresso-aula .container .sumario-content li .botao-ok {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
    color: #ddd
}

body.contraste #sumario .container .sumario-content li a:hover,
body.contraste #tools-content .container .sumario-content li a:hover,
body.contraste #progresso-aula .container .sumario-content li a:hover,
body.contraste #sumario .container .sumario-content li .atividade-feedback .botao-ok:hover,
.atividade-feedback body.contraste #sumario .container .sumario-content li .botao-ok:hover,
body.contraste #tools-content .container .sumario-content li .atividade-feedback .botao-ok:hover,
.atividade-feedback body.contraste #tools-content .container .sumario-content li .botao-ok:hover,
body.contraste #progresso-aula .container .sumario-content li .atividade-feedback .botao-ok:hover,
.atividade-feedback body.contraste #progresso-aula .container .sumario-content li .botao-ok:hover,
body.contraste #sumario .container .sumario-content li a:focus,
body.contraste #tools-content .container .sumario-content li a:focus,
body.contraste #progresso-aula .container .sumario-content li a:focus,
body.contraste #sumario .container .sumario-content li .atividade-feedback .botao-ok:focus,
.atividade-feedback body.contraste #sumario .container .sumario-content li .botao-ok:focus,
body.contraste #tools-content .container .sumario-content li .atividade-feedback .botao-ok:focus,
.atividade-feedback body.contraste #tools-content .container .sumario-content li .botao-ok:focus,
body.contraste #progresso-aula .container .sumario-content li .atividade-feedback .botao-ok:focus,
.atividade-feedback body.contraste #progresso-aula .container .sumario-content li .botao-ok:focus {
    color: #fff
}

body.contraste #sumario .container .sumario-content li.ativo a,
body.contraste #tools-content .container .sumario-content li.ativo a,
body.contraste #progresso-aula .container .sumario-content li.ativo a,
body.contraste #sumario .container .sumario-content li.ativo .atividade-feedback .botao-ok,
.atividade-feedback body.contraste #sumario .container .sumario-content li.ativo .botao-ok,
body.contraste #tools-content .container .sumario-content li.ativo .atividade-feedback .botao-ok,
.atividade-feedback body.contraste #tools-content .container .sumario-content li.ativo .botao-ok,
body.contraste #progresso-aula .container .sumario-content li.ativo .atividade-feedback .botao-ok,
.atividade-feedback body.contraste #progresso-aula .container .sumario-content li.ativo .botao-ok {
    color: #fff
}

body.contraste .clicou:not(.botao-video):not(.link-externo)::before {
    background-color: #333
}

body.contraste .clicou:not(.botao-video).link-externo blockquote>div::before {
    background-color: #333
}

body.contraste #progresso-aula .pct-progresso-aula {
    border-color: #fff
}

body.contraste .locucao-player {
    filter: grayscale(1)
}

body.contraste .tela-estrela img {
    border-color: #fff;
    filter: grayscale(1)
}

body.contraste .tela-referencias {
    background-color: #333
}

body.contraste .tela-referencias::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 239.5 215.32'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23999999;%7D%3C/style%3E%3C/defs%3E%3Cpolygon class='a' points='239.5 56.41 239.5 215.32 0 215.32 72.17 0 239.5 56.41'/%3E%3C/svg%3E")
}

body.contraste .tela-referencias p a,
body.contraste .tela-referencias p .atividade-feedback .botao-ok,
.atividade-feedback body.contraste .tela-referencias p .botao-ok,
body.contraste .tela-referencias p a:link,
body.contraste .tela-referencias p .atividade-feedback .botao-ok:link,
.atividade-feedback body.contraste .tela-referencias p .botao-ok:link,
body.contraste .tela-referencias p a:visited,
body.contraste .tela-referencias p .atividade-feedback .botao-ok:visited,
.atividade-feedback body.contraste .tela-referencias p .botao-ok:visited,
body.contraste .tela-referencias p a:active,
body.contraste .tela-referencias p .atividade-feedback .botao-ok:active,
.atividade-feedback body.contraste .tela-referencias p .botao-ok:active {
    color: #fff;
    border-bottom: solid 2px #fff
}

body.contraste .tela-referencias p a:hover,
body.contraste .tela-referencias p .atividade-feedback .botao-ok:hover,
.atividade-feedback body.contraste .tela-referencias p .botao-ok:hover {
    color: #fff
}

body.contraste .bt-ficha {
    color: #fff !important;
    border-bottom-color: #fff !important
}

body.contraste .video-comvoce-embed {
    border-top-color: #000;
    border-bottom-color: #000
}

body.contraste .box-legenda {
    padding-left: 10px
}

body.contraste .box-imagem {
    background-image: none
}

body.contraste .box-imagem.verde {
    background-image: none
}

body.contraste .box-saiba-mais p a,
body.contraste .box-saiba-mais p .atividade-feedback .botao-ok,
.atividade-feedback body.contraste .box-saiba-mais p .botao-ok,
body.contraste .box-saiba-mais p a:link,
body.contraste .box-saiba-mais p .atividade-feedback .botao-ok:link,
.atividade-feedback body.contraste .box-saiba-mais p .botao-ok:link,
body.contraste .box-saiba-mais p a:visited,
body.contraste .box-saiba-mais p .atividade-feedback .botao-ok:visited,
.atividade-feedback body.contraste .box-saiba-mais p .botao-ok:visited,
body.contraste .box-saiba-mais p a:active,
body.contraste .box-saiba-mais p .atividade-feedback .botao-ok:active,
.atividade-feedback body.contraste .box-saiba-mais p .botao-ok:active {
    color: #fff;
    border-color: #fff
}

body.contraste .box-dicas img {
    filter: brightness(0) invert(1)
}

body.contraste .box-dicas p a,
body.contraste .box-dicas p .atividade-feedback .botao-ok,
.atividade-feedback body.contraste .box-dicas p .botao-ok,
body.contraste .box-dicas p a:link,
body.contraste .box-dicas p .atividade-feedback .botao-ok:link,
.atividade-feedback body.contraste .box-dicas p .botao-ok:link,
body.contraste .box-dicas p a:visited,
body.contraste .box-dicas p .atividade-feedback .botao-ok:visited,
.atividade-feedback body.contraste .box-dicas p .botao-ok:visited,
body.contraste .box-dicas p a:active,
body.contraste .box-dicas p .atividade-feedback .botao-ok:active,
.atividade-feedback body.contraste .box-dicas p .botao-ok:active {
    color: #fff;
    border-color: #fff
}

body.contraste .box-ampliando ul.bullets-seta li,
body.contraste .box-naPratica ul.bullets-seta li {
    color: #fff
}

body.contraste .box-ampliando ul.bullets-seta li::before,
body.contraste .box-naPratica ul.bullets-seta li::before {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='a' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 161.47 9.97'%3E%3Cline y1='4.99' x2='160' y2='4.99' style='fill:none; stroke:%23ffffff; stroke-width:2px;'/%3E%3Cpolyline points='155.42 .73 160 4.99 155.42 9.24' style='fill:none; stroke:%23ffffff; stroke-width:2px;'/%3E%3C/svg%3E")
}

body.contraste .box-ampliando ul.bullets-seta li::after,
body.contraste .box-naPratica ul.bullets-seta li::after {
    display: none
}

body.contraste .box-ampliando a,
body.contraste .box-ampliando .atividade-feedback .botao-ok,
.atividade-feedback body.contraste .box-ampliando .botao-ok,
body.contraste .box-naPratica a,
body.contraste .box-naPratica .atividade-feedback .botao-ok,
.atividade-feedback body.contraste .box-naPratica .botao-ok {
    color: #fff
}

body.contraste .box-texto blockquote::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 227.49 276.14'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23999999;%7D%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M0,5V276.14l227.49-76.25L160.1,0H5A5,5,0,0,0,0,5Z'/%3E%3C/svg%3E")
}

body.contraste .box-conexao {
    background: #fff;
    border-radius: 20px 0 0 20px;
    padding: 10px 0 10px 20px;
    width: max-content;
    max-width: max-content
}

@media only screen and (max-width: 767px) {
    body.contraste .box-conexao {
        border-radius: 20px 20px 0 0;
        padding: 20px 20px 0px 20px;
        margin-bottom: 20px;
        width: auto;
        max-width: inherit
    }
}

body.contraste .box-citacao,
body.contraste .box-aspas {
    background-color: #000
}

body.contraste .box-citacao blockquote::before,
body.contraste .box-aspas blockquote::before {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='a' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 74.97 72.9'%3E%3Cpath d='M74.97,0c-19.19,6.9-29.99,24.9-29.99,48.6v24.3h29.69v-28.5h-28.19c1.8-13.5,12-24,28.49-28.2V0ZM0,72.9h29.99v-28.5H1.8c1.8-13.5,12-24,28.19-28.2V0C11.1,6.9,0,24.9,0,48.6v24.3Z' style='fill:%23999999;'/%3E%3C/svg%3E")
}

body.contraste .box-icone::before {
    border-top: solid 2px #fff
}

body.contraste .box-transcricao .divisao::before {
    background: none;
    right: 0;
    border-right: 2px solid #fff
}

@media only screen and (max-width: 767px) {
    body.contraste .box-transcricao .divisao::before {
        top: 10px;
        border-right: none;
        border-bottom: 2px solid #fff
    }
}

body.contraste .box-transcricao .bt-transcricao {
    position: relative;
    border: 2px solid #fff;
    border-radius: 8px
}

body.contraste .box-transcricao .bt-transcricao::before {
    content: "Transcrição";
    position: absolute;
    top: 50%;
    right: 64px;
    color: #fff;
    text-transform: uppercase;
    font-size: calc(1.55em + .3vw);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

@media only screen and (min-width: 1080px) {
    body.contraste .box-transcricao .bt-transcricao::before {
        font-size: 2em
    }
}

body.contraste .bt-infografico {
    background-color: #fff
}

body.contraste .bt-infografico p {
    color: #000 !important
}

body.contraste .bt-infografico>div::before {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 24.3.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Camada_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 78 46.6' style='enable-background:new 0 0 78 46.6;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23CCCCCC;%7D .st1%7Bclip-path:url(%23SVGID_2_);%7D .st2%7Bclip-path:url(%23SVGID_4_);%7D .st3%7Bfill:%23666666;%7D%0A%3C/style%3E%3Cg id='Camada_2_1_'%3E%3Cg id='CAIXAS'%3E%3Cg id='DICAS'%3E%3Cpath class='st0' d='M3,0h74.6l0,0v46.6l0,0H3c-1.7,0-3-1.3-3-3V3C0,1.3,1.3,0,3,0z'/%3E%3Cg%3E%3Cdefs%3E%3Cpath id='SVGID_1_' d='M3,0h74.6l0,0v46.6l0,0H3c-1.7,0-3-1.3-3-3V3C0,1.3,1.3,0,3,0z'/%3E%3C/defs%3E%3CclipPath id='SVGID_2_'%3E%3Cuse xlink:href='%23SVGID_1_' style='overflow:visible;'/%3E%3C/clipPath%3E%3Cg class='st1'%3E%3Cg%3E%3Cdefs%3E%3Cpath id='SVGID_3_' d='M3,0h281.1c1.7,0,3,1.3,3,3v40.6c0,1.7-1.3,3-3,3H3c-1.7,0-3-1.3-3-3V3C0,1.3,1.3,0,3,0z'/%3E%3C/defs%3E%3CclipPath id='SVGID_4_'%3E%3Cuse xlink:href='%23SVGID_3_' style='overflow:visible;'/%3E%3C/clipPath%3E%3Cg class='st2'%3E%3Cpolygon class='st3' points='81.1,32 69.7,0.1 58.3,0.1 69.8,32 '/%3E%3Cpolygon class='st3' points='58.6,32 47.1,0.1 35.8,0.1 47.3,32 '/%3E%3Cpolygon class='st3' points='36,32 24.5,0.1 13.2,0.1 24.7,32 '/%3E%3Cpolygon class='st3' points='13.4,32 1.9,0.1 -9.4,0.1 2.1,32 '/%3E%3Cpolygon class='st3' points='58.4,32 62.9,46.6 74.2,46.6 69.8,32 '/%3E%3Cpolygon class='st3' points='35.9,32 40.3,46.6 51.6,46.6 47.2,32 '/%3E%3Cpolygon class='st3' points='13.3,32 17.7,46.6 29,46.6 24.6,32 '/%3E%3Cpolygon class='st3' points='-9.3,32 -4.9,46.6 6.4,46.6 2,32 '/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A")
}

body.contraste .bt-infografico>div::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 44.25 46.62'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23CCCCCC;%7D.cls-2%7Bfill:%23666666;%7D.cls-3%7Bfill:%23333333;opacity:0.25;%7D.cls-4%7Bfill:%23666666;%7D%3C/style%3E%3C/defs%3E%3Cg id='Camada_2' data-name='Camada 2'%3E%3Cg id='CAIXAS'%3E%3Cg id='DICAS'%3E%3Cpath class='cls-1' d='M2.75,0h38.5a3,3,0,0,1,3,3V43.62a3,3,0,0,1-3,3H2.75a0,0,0,0,1,0,0V0A0,0,0,0,1,2.75,0Z'/%3E%3Crect class='cls-2' width='3.25' height='46.62' transform='translate(3.25 46.62) rotate(180)'/%3E%3Cpath class='cls-3' d='M43.72,41.91,30.62,23,15.44,33.68l7.87,12.94H41.25a3,3,0,0,0,3-3h0A3.06,3.06,0,0,0,43.72,41.91Z'/%3E%3Cpolygon class='cls-4' points='18.09 10.71 15.58 13.22 25.73 23.37 15.58 33.52 18.09 36.03 30.75 23.37 18.09 10.71'/%3E%3Cpolygon class='cls-3' points='15.44 13.8 22 26.37 25.73 23.37 15.44 13.8'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E")
}

body.contraste .botao-video {
    background-image: url("data:image/svg+xml,%3C!-- Generator: Adobe Illustrator 24.0.2, SVG Export Plug-In --%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='57.6px' height='57.6px' viewBox='0 0 57.6 57.6' style='enable-background:new 0 0 57.6 57.6;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;stroke:%23FFFFFF;stroke-width:4;stroke-miterlimit:10;%7D .st1%7Bfill:%23FFFFFF;%7D%0A%3C/style%3E%3Cdefs%3E%3C/defs%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpolygon class='st1' points='20.2,16.3 20.2,41.3 43.8,28.8 '/%3E%3Cpath class='st0' d='M53,55.6H4.5C3.1,55.6,2,54.4,2,53V4.5C2,3.1,3.1,2,4.5,2H53c1.4,0,2.5,1.1,2.5,2.5V53 C55.6,54.4,54.4,55.6,53,55.6z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A")
}

body.contraste .botao-video.clicou blockquote::after {
    filter: grayscale(1)
}

body.contraste p a,
body.contraste p .atividade-feedback .botao-ok,
.atividade-feedback body.contraste p .botao-ok,
body.contraste p a:link,
body.contraste p .atividade-feedback .botao-ok:link,
.atividade-feedback body.contraste p .botao-ok:link,
body.contraste p a:visited,
body.contraste p .atividade-feedback .botao-ok:visited,
.atividade-feedback body.contraste p .botao-ok:visited,
body.contraste p a:active,
body.contraste p .atividade-feedback .botao-ok:active,
.atividade-feedback body.contraste p .botao-ok:active {
    color: #fff;
    border-bottom: solid 2px #fff !important
}

body.contraste ul.bullets-seta li::before {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='a' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 161.47 9.97'%3E%3Cline y1='4.99' x2='160' y2='4.99' style='fill:none; stroke:%23ffffff; stroke-width:2px;'/%3E%3Cpolyline points='155.42 .73 160 4.99 155.42 9.24' style='fill:none; stroke:%23ffffff; stroke-width:2px;'/%3E%3C/svg%3E")
}

body.contraste .slick-prev:hover:before,
body.contraste .slick-prev:focus:before,
body.contraste .slick-next:hover:before,
body.contraste .slick-next:focus:before {
    content: "";
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='a' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 68.8 17.74'%3E%3Cline x1='68.8' y1='8.87' x2='3.31' y2='8.87' style='fill:none; stroke:%23fff; stroke-width:3px;'/%3E%3Cpolyline points='11.07 16.09 3.3 8.87 11.07 1.65' style='fill:none; stroke:%23fff; stroke-width:4.5px;'/%3E%3C/svg%3E")
}

body.contraste .slick-dots {
    background-color: rgba(0, 0, 0, 0)
}

body.contraste .slick-dots li::before {
    background: #666
}

body.contraste .slick-dots li.slick-active button::after {
    background-color: #fff
}

body.contraste .sanfona .item-sanfona>.cont-botao {
    background-color: #fff;
    border-color: #131313
}

body.contraste .sanfona .item-sanfona>.cont-botao::before {
    background: #333;
    border-color: #131313
}

body.contraste .sanfona .item-sanfona>.cont-botao:hover {
    background-color: #ccc
}

body.contraste .sanfona .item-sanfona>.cont-botao::after {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='a' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36'%3E%3Cpolygon points='20.3 36 20.3 19.96 36 19.96 36 16.04 20.3 16.04 20.3 0 15.78 0 15.78 16.04 0 16.04 0 19.96 15.78 19.96 15.78 36 20.3 36' style='fill:%23ffffff;'/%3E%3C/svg%3E")
}

body.contraste .sanfona .item-sanfona.ativo>.cont-botao {
    background-color: #fff
}

body.contraste .sanfona .item-sanfona.ativo>.cont-botao p {
    color: #000
}

body.contraste .sanfona .item-sanfona.ativo>.cont-botao:hover {
    background-color: #fff
}

body.contraste .sanfona .item-sanfona.ativo>.cont-botao:hover p {
    color: #000
}

body.contraste .sanfona .item-sanfona>.cont-texto {
    border-color: #131313
}

body.contraste .sanfona .item-sanfona>.cont-texto .caixa-item {
    background-color: #fff
}

body.contraste .flip-card label::before {
    display: none
}

body.contraste .flip-card .card .frente {
    background-color: #333;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Camada_1' xmlns='http://www.w3.org/2000/svg' width='191.94' height='52.81' viewBox='0 0 191.94 52.81'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff;%7D%3C/style%3E%3C/defs%3E%3Cpath class='cls-1' opacity='.25' d='M191.94,0c-1.34,16-2.98,21.01-4.14,26.07-2.04,10.18-7.73,16.97-18.72,19.52-17.91,4.67-44.36,7.21-73.26,7.21s-55.35-.85-73.26-5.52c-10.99-2.55-15.69-11.28-18.72-21.22C2.6,22-.4,6,.04,0'/%3E%3C/svg%3E"), url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Camada_1' xmlns='http://www.w3.org/2000/svg' width='191.94' height='52.81' viewBox='0 0 191.94 52.81'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff;%7D%3C/style%3E%3C/defs%3E%3Cpath class='cls-1' opacity='.25'  d='M0,52.81c1.34-16,2.98-21.01,4.14-26.07,2.04-10.18,7.73-16.97,18.72-19.52C40.77,2.55,67.22,0,96.12,0s55.35.85,73.26,5.52c10.99,2.55,15.69,11.28,18.72,21.22,1.24,4.07,4.24,20.07,3.8,26.07'/%3E%3C/svg%3E")
}

body.contraste .flip-card .card .frente p,
body.contraste .flip-card .card .frente strong {
    color: #fff
}

body.contraste .flip-card .card .verso {
    border: 3px solid #333
}

body.contraste .pop.popup-texto .popup-header .bt-fechar-popup {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='a' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 93 93'%3E%3Crect x='1.5' y='1.5' width='90' height='90' style='fill:%23131313; stroke:%23fff; stroke-width:3px;'/%3E%3Cline x1='20.63' y1='20.46' x2='72.15' y2='71.95' style='fill:none; stroke:%23fff; stroke-width:3px;'/%3E%3Cline x1='72.15' y1='20.46' x2='20.63' y2='71.95' style='fill:none; stroke:%23fff; stroke-width:3px;'/%3E%3C/svg%3E")
}

body.contraste .pop.popup-texto .popup-content {
    --sb-track-cont-color: #333
}

body.contraste .pop.popup-texto .popup-content::-webkit-scrollbar-track {
    background: var(--sb-track-cont-color)
}

body.contraste .pop.popup-autor .popup-header .bt-fechar-popup {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='a' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 93 93'%3E%3Crect x='1.5' y='1.5' width='90' height='90' style='fill:%23131313; stroke:%23fff; stroke-width:3px;'/%3E%3Cline x1='20.63' y1='20.46' x2='72.15' y2='71.95' style='fill:none; stroke:%23fff; stroke-width:3px;'/%3E%3Cline x1='72.15' y1='20.46' x2='20.63' y2='71.95' style='fill:none; stroke:%23fff; stroke-width:3px;'/%3E%3C/svg%3E")
}

body.contraste .pop.popup-autor .popup-content {
    --sb-track-cont-color: #333
}

body.contraste .pop.popup-autor .popup-content::-webkit-scrollbar-track {
    background: var(--sb-track-cont-color)
}

body.contraste .pop.popup-video .popup-header .bt-fechar-popup {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='a' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 93 93'%3E%3Crect x='1.5' y='1.5' width='90' height='90' style='fill:%23131313; stroke:%23fff; stroke-width:3px;'/%3E%3Cline x1='20.63' y1='20.46' x2='72.15' y2='71.95' style='fill:none; stroke:%23fff; stroke-width:3px;'/%3E%3Cline x1='72.15' y1='20.46' x2='20.63' y2='71.95' style='fill:none; stroke:%23fff; stroke-width:3px;'/%3E%3C/svg%3E")
}

body.contraste a.required.link-required.clicou::after,
body.contraste .atividade-feedback .required.link-required.clicou.botao-ok::after,
.atividade-feedback body.contraste .required.link-required.clicou.botao-ok::after {
    filter: grayscale(1)
}

body.contraste .seta-topo #botao-topo::after {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='14.8' viewBox='0 0 24 14.8'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff;%7D%3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M21.2,14.8L12,5.6,2.8,14.8l-2.8-2.8L12,0l12,12-2.8,2.8Z'/%3E%3C/svg%3E")
}

@media(max-width: 767.98px) {
    body.contraste .seta-topo {
        background-color: #000 !important
    }
}


body.contraste #tela-1 {
        background: #131313 !important;
}


body.contraste #bt-menu {
    background-image: url(../assets/images/icos/ico-menu-white.svg) !important;
    background-size: contain;
}


body.contraste .accordion-button .indicator {
    background: #3d3c3c !important;
}
body.contraste .bg-orange2 *, 
body.contraste .accordion-content .boxText *{
    color: #000 !important;
}