.cards-container {
    display: flex;
    gap: 2em;
    justify-content: center;
    width: 90%;
    margin: 0 auto 4em;
    flex-wrap: wrap;
}

.flip-card {
    background-color: transparent;
    width: 22em;
    min-height: 35em;
    perspective: 1000px;
    cursor: pointer;
    position: relative;
    margin-top: 2em;
}

.flip-card .check {
    position: absolute;
    top: -1em;
    right: -1em;
    z-index: 1;
    width: 2.5em;
    opacity: 0;
}

.flip-card.visited .check {
    opacity: 1;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.3s;
    transform-style: preserve-3d;
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.flip-card-front,
.flip-card-back {
    background-color: #EC7105;
}

.flip-card-front img {
    width: 70%;
    aspect-ratio: 1/1;
    object-fit: contain;
    object-position: center;
}

.flip-card-front h4 {
    color: #fff;
    font-size: 1.8em;
    font-weight: 600;
    margin-top: 1em;
    line-height: 1.5;
}

.flip-card-front::after,
.flip-card-front::before,
.flip-card-back::after,
.flip-card-back::before {
    content: '';
    position: absolute;
    background-image: url("../assets/images/t05-detal.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 80%;
    height: 4.8em;
}

.flip-card-front::after,
.flip-card-back::after {
    top: 0;
}

.flip-card-front::before,
.flip-card-back::before {
    bottom: 0;
    transform: rotateX(180deg)
}

.flip-card-front {
    color: white;
}

.flip-card-back {
    color: white;
    transform: rotateY(180deg);
}

.flip-card-back p {
    color: #fff;
    line-height: 1.3;
    position: relative;
    z-index: 1;
}

.flip-card.flipped .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card.visited {
    /* border: 5px solid #e74c3c;
    box-shadow: 0 0 15px #e74c3c; */
}

@media only screen and (max-width: 1200px) {
    .cards-container {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .flip-card {
        width: 18em;
    }
}